<?xml version="1.0" ?>
<model>
    <name>Almacen_demo</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Juan Ferrera Sala</name>
        <email></email>
    </author>
    <description>Mundo demo para proyecto de robotica GTI with ROS symbol</description>
</model>
